*{
    font-family: "Cabin Sketch", cursive;
    list-style:none;
}
.nav-background, button{
    background-color: #C6F4BA;
}
.box-card{
    margin-left: 0 auto;
    padding: 20px;
    margin-left: 20px;
    color:  #F5F5DC;
    display: inline-block;
}
.align-text{
    display: inline;
}
.v-align{
    display: inline-block;
    vertical-align: top;
    min-width: 700px;
    padding-top: 30px;
}
.order-card{
    margin-top: 20px;
    margin-left:50px;
}
table.size{
    width: 100%;
}
td{
    text-align: left;
    font-family: "Cabin Sketch", cursive;
}
td.name{
    width: 30%;
    text-align: left;
    font-weight: bold;
}
td.col-size{
    width: 3%;
    text-align: left;
}
td.label{
    font-weight: bold;
}
button.order{
    font-family: "Cabin Sketch", cursive;
    width: 15%;
    border-radius: 8px;
    background-color: white;
    color: black;
}
button.order:hover{
    background-color:#F5F5DC;
}
.keywords--block{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: inline-block;
}
.custom-card{
    border-radius: 1em;
    height: 35%;
    width: 25%;
    box-shadow: 0 0 30px rgba(0,0,0, .08);
    padding: 0 50px;
    padding-top:  30px;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    outline-width: medium;
    outline-style: solid;
    outline-color: gray;
}